.Square {
    background-color: grey;
    width: 80vh;
    height: 80vh;
    margin: 0 auto;
    text-align: center;
    margin-top: 2vh;
    padding-top: 2vh;
}
.squares {
    display: inline-block;
    margin: 0.5vh;
    background: rgb(140, 140, 140);
    width: 18vh;
    height: 18vh;
}
/* .container {
    padding: 2px;
    border: 3px solid #464646;
    background-color: #000;
    padding-left: 35px;
    padding-right: 35px;
    text-align: justify;
}

.container__item {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 4px;
    background-color: #464646;
} */
