* {
    --side: 80vh;
    --border-radius: 2vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.app {
    background: #505868;
    user-select: none;
}
.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main {
    position: relative;
    color: rgb(0, 0, 0);
    height: 86vh;
    background: #505868;
}
.grid {
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    text-align: center;
    width: var(--side);
    height: var(--side);
    border-radius: var(--border-radius);
    outline: none;
}
.footer {
    background-color: #404144;
    min-height: 6vh;
    color: white;
}
@media screen and (orientation: landscape) and (max-width: 768px) {
    .header {
        display: none;
    }
    .footer {
        display: none;
    }
    .main {
        height: 100vh;
    }
}
