* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.app {
    background: #505868;
    user-select: none;
}
.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header {
    background-color: #282c34;
    height: 8vh;
    font-size: 6vh;
    color: white;
}
.main {
    color: rgb(0, 0, 0);
    height: 86vh;
    background: #505868;
}
.footer {
    background-color: #404144;
    min-height: 6vh;
    color: white;
}
@media screen and (orientation: landscape) and (max-width: 768px) {
    .header {
        display: none;
    }
    .footer {
        display: none;
    }
    .main {
        height: 100vh;
    }
}
