.Numbers {
    position: relative;
    opacity: 0.8;
    top: -100%;
    /* background: #000; */
}
.Game {
    margin-top: -20px;
}
.nums {
    text-align: center;
}
.Element {
    /* position: absolute; */
    /* top: 0vh;
    left: 0vh; */
    display: inline-block;

    font-size: 50px;
    font-weight: bolder;
    color: #b7c87c;
    margin: 0.8vh;
    width: 18vh;
    height: 18vh;
    background-color: #fff;
}
.btn-start {
    position: relative;
    border: 2px solid #4caf50;
    border-radius: 6px;
    background-color: #698973;
    opacity: 1;
    top: 0vh;
    left: -70%;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-start:hover {
    background-color: #128a38;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
